.topicSearch {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.topicButtons,
.refresh,
.loader {
  margin-top: 1rem;
}

.topicButtons {
  width: 100%;
}

.topicButton {
  padding: var(--a-spacing-2);
  border: none;
  background-color: transparent;
  color: hsl(0 0% 0%);
  cursor: pointer;
  border-bottom: 1px solid hsl(0 0% 0%);
}

.topicButton.selected {
  background-color: var(--a-surface-action-active);
  color: var(--a-text-on-action);
}

.topicButton:hover {
  background-color: var(--a-surface-action-hover);
  color: var(--a-text-on-action);
}
