.søkelinje {
  display: flex;
  flex-direction: column;
  min-width: 15rem;

  padding-block: 1rem;
  padding-right: 1rem;
  margin-right: 1rem;

  position: relative;
}

.søkelinje::after {
  content: '';
  /* full høyde, minus min-height på header, minus min-height på knapp */
  min-height: calc(100vh - var(--a-spacing-12) - 32px);
  height: 100%;
  border-right: 1px solid #cfcfcf;

  position: absolute;
  right: 0;
  top: 0;
}

.blokk:not(:last-of-type) {
  margin-bottom: 1rem;
}

.timestamp {
  font-size: 0.9rem;
  font-weight: 200;
}
