body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.appContainer {
  display: grid;
  place-items: center;
  margin: 0 auto;

}

.appContainer > main {
  display: flex;
  flex-direction: row;

  min-width: 100%;
}

.søkelinje {
  display: flex;
  flex-direction: column;
  width: 30vw;

  padding: 1rem;
}

.resultat {
  width: 100%;
  padding-inline: 1rem;
}

.blokk:not(:last-of-type) {
  margin-bottom: 1rem;
}

.timestamp {
  font-size: 0.9rem;
  font-weight: 200;
}
